# To jest szablon - skopiuj go do .env i uzupełnij dane
SECRET_KEY=django-insecure-wygeneruj-sobie-klucz
DB_NAME=outfitly_db
DB_USER=user
DB_PASSWORD=pass
DB_HOST=db
DB_PORT=5432
GEMINI_API_KEY=tutaj_wklej_klucz_z_google_ai_studio